{% extends "base.html" %}

{% block title %}About - Retro Arcade{% endblock %}

{% block content %}
<div style="text-align: left; margin-top: 50px;">
    <h1>About Developer</h1>
    
    <div style="max-width: 600px; margin: 40px auto; text-align: left; line-height: 1.6;">
        <h2>Farhath Rahina <br>Mohammed Abdul Kadher</h2><br>
        <p><strong>AI Powered Product Builder | Freelancer </strong><br> who use no-code/low-code platforms and AI tools to turn ideas into live products, fast.</p>
        
        <p>I help startups and entrepreneurs bring their ideas to life fast using free tools without heavy development cycles. Specialized in building MVPs, internal tools, and AI-powered automations that solve real-world problems and deliver measurable impact.</p>
        
        <p>Also Helps to build Websites and Applications</p>
        
        <p></p>
        
        <h3 style="margin-top: 30px;">Studies</h3>
        <p>Pursuing a Bachelor's in Computer Applications, specializing in Data Science and Artificial Intelligence. </p>
        
        <h3 style="margin-top: 30px;">Why this</h3>
            <p>Just wanted to let you know that I'm always happy to help in the future. Feel free to reach out if you'd like to connect, collaborate, or learn together!</p><br>
            <P>to reach <a href="https://mail.google.com/mail/?view=cm&to=freeimiumu79@gmail.com&su=-type_the_subject-&body=--type%20your%20content%20here--%20" target="_blank">
    mail me!
</a></P>
        </div>
    
    <a href="{{ url_for('home') }}" class="btn">BACK</a>
</div>
{% endblock %}